body {
	font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	background: #F5F5F5;
	margin: 0;
	padding: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

main {
  	flex: 1 0 auto;
}

.container {
    margin: 100px 0;
}
