<div class="error">
    <h1 class="error__status">{{ status }}</h1>
    <span class="error__message">{{ message }}</span>
    {{> Link className="error__button" text="Назад к чатам" page="chat" }}
</div>
