<div class="error">
    <h1 class="error__status">{{ status }}</h1>
    <span class="error__message">{{ message }}</span>
    {{!-- {{> Link status="404" message="Страница не найдена" href="chat" }} --}}
    {{> Link className="error__button" text="Назад к чатам" page="messenger" url="/" }}
</div>