<section class="container">
    <form class="auth-form">
		{{> BaseTitle title="Регистрация"}}
		{{> InputField className="auth-form__input" title="Почта" name="email" }}
		{{> InputField className="auth-form__input" title="Логин" name="login" }}
		{{> InputField className="auth-form__input" title="Имя" name="login" }}
		{{> InputField className="auth-form__input" title="Фамилия" name="login" }}
		{{> InputField className="auth-form__input" title="Телефон" name="login" }}
		{{> InputField className="auth-form__input" type="password" title="Пароль" name="password" }}
		{{> InputField className="auth-form__input" type="password" title="Повторите пароль" name="password-repeat" }}
		{{> Button text="Зарегистрироваться" page="chat" }}
		{{> Link text="Авторизоваться" page="login" url="/login" }}
    </form> 
</section>
