<section class="change-password">
    {{>Sidebar }}
    <form class="change-password__form">
        {{> BaseTitle title="Изменить пароль"}}
		{{> InputField type="password" title="Старый пароль" name="oldPassword" }}
		{{> InputField type="password" title="Новый пароль" name="newPassword" }}
		{{> InputField type="password" title="Повторите новый пароль" name="repeatNewPassword" }}
		{{> Button text="Сохранить" page="profile" }}
    </form>
</section>